@import './../../scss/variables.scss';


.header{
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    position: fixed;
    top:0;
    align-items: center;
    background-color: $background-header-footer;
    
    

    &-right{
        display: flex;
        flex-direction: row;
    }
    &-left{
        display: flex;
        flex-direction: row;
    }

}

