@import './../../scss/variables.scss';


.project {

    
    font-family: $primary-font;
    border-radius: 1rem;
    background-color: $background-secundary-embers;  
  
    display: flex;
    //alineamos project-title y project-area en dos filas 
    flex-direction: column;

    width: 90%;
    min-width: 90vw;
    margin-bottom: 2rem;

    flex-shrink: 1;
       
    

    &-title{

        display:flex;
        height: 4.5rem;
        margin-bottom: 1rem;
        //flex-wrap: wrap;
        flex-direction: row;
        flex-shrink: 1;
        align-items: center;
        justify-content: space-between;
        
        
        

        .div-title{
            padding: 1rem;
            white-space: nowrap;
            margin: 1rem;
            //flex-basis: 200px;

            
        }
        .div-link{
            font-size: 0.7rem;
            margin: 1rem;
            text-align: justify;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .div-btn{

            margin:1rem;
           // flex-wrap: wrap;
            //justify-content: flex-end;
            

            button {
                white-space: pre;
                width:fit-content;
                height:fit-content;
                margin: 0.4rem;
                padding:0.4rem;
                
            }
            
        }
        
    }
    &-area{

        display:flex;
        margin-top:0.2rem;
        padding: 1rem;
        flex-shrink: 2;

        h4{
            padding: 0.2rem;
            border-left: 1px dashed;
        }

        &-image{
            width: fit-content;
            height: fit-content;

        }
     
        &-description{
            text-align: justify;
            border-left: 1px dashed;
            padding: 1rem 1rem 1rem 1rem;
            border-bottom: 1px dashed;
        }
        &-skills{
            
            margin-top: 1rem;
            display: flex;
           
            border-left: 1px dashed;
            padding: 0 0 0 0.5rem;
        }
   
        &-files{
            display:grid;
            border-left: 1px dashed;
            padding: 0 0 0 0.2rem;

        }

    }
  

    
}
