@import './../../scss/variables.scss';


.project{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 20px;
    border-style:inset;
    border-color: $background-header-footer;
    background-color: $background-area	;

    &-title{
        align-self: flex-start;
        padding: 10px 0 0 20px;
    }
    &-area{
        display: flex;
        flex-direction: row;
        padding: 20px;
        column-gap:10px;
    }
    &-skills{
        border-left: 1px dashed;
        padding: 0 0 0 10px;
    }
    &-description{
        border-left: 1px dashed;
        padding: 0 0 0 10px;
    }
    &-files{
        border-left: 1px dashed;
        padding: 0 0 0 10px;
    }
    
}

.line{
    height: 100%;
    border: 1px dashed currentcolor;
    top: 0px;
    width: 1px;
    float:left;
}

#foto{
    width: 250px;
}

